/*
 All props for support dark mode
 */
.hightlight.dark {
  color: #ff63c3 !important;
}

.title-block:before.dark {
  background-color: #525252;
}

.About-sayhi.dark {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.ontheweb-item.dark a {
  color: #81e6d9 !important;
}

.ontheweb-item.dark .ontheweb-icon {
  color: #81e6d9 !important;
}

.ontheweb-item:hover.dark {
  background-color: rgba(183, 244, 216, 0.2);
}

.title-block.dark:before {
  background-color: #525252 !important;
}

.About {
  margin-left: auto;
  margin-right: auto;
  width: 572px;
  margin-top: 50px;
  padding: 0 16px;
}

.About-sayhi {
  margin: 0 auto;
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  font-weight: 380;
  margin-bottom: 75px;
}

.About-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.About-me-right {
  margin-bottom: 20px;
}

.About-me-right h2 {
  font-size: 32px;
  font-weight: 450;
}

.About-me-right p {
  font-size: 15px;
  font-weight: 350;
  word-wrap: word-wrap;
  letter-spacing: 0.1px;
}

.About-me-left img {
  transform: translateY(-5%);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 1.5px solid #fff;
}

.About-work {
  width: 100%;
}

.title-block {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
}

.title-block:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
}

.About-work-content {
  font-weight: 300;
  overflow-wrap: break-word;
  line-height: 1.6;
  font-size: 14.5px;
  text-indent: 15px;
  letter-spacing: 0.5px;
}

.hightlight {
  color: #3d7aed;
}

/* Bio */
.About-bio {
  margin-bottom: 20px;
}
.bio-content-list li {
  list-style: none;
}

.bio-content-list li span:first-child {
  font-size: 16px;
  font-weight: 450;
  margin-right: 15px;
}

.bio-content-list li span:last-child {
  font-weight: 300;
  font-size: 14.5px;
  letter-spacing: 0.5px;
}

.bio-content-list li {
  display: flex;
  align-items: center;
  /*
    15px * 1 = 15
    15 / 2 = 7.5px
   */
}

.bio-content-list li span:first-child {
  width: calc(10% - 7.5px);
}

.bio-content-list li span:last-child {
  width: calc(90% - 7.5px);
}

.About-ilove {
  margin-bottom: 20px;
}

.About-ilove .title-block span {
  font-size: 15px;
}

.About-ilove-content {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;
  font-size: 14.5px;
  text-indent: 15px;
  letter-spacing: 0.5px;
}

/*
  On the web
 */

.ontheweb-wrapper {
  display: flex;
  flex-direction: column;
}

.ontheweb-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 35%;
  border: none;
  height: 40px;
  padding: 0 16px;
  text-align: left;
  border: 3px solid transparent;
}

.ontheweb-item:active {
  border: 3px solid #7ab8ff;
}

.ontheweb-item:hover {
  border-radius: 8px;
  background-color: #f0fff4;
}

.ontheweb-item a {
  text-decoration: none;
}

.ontheweb-item .icon {
  margin-right: 7px;
}

.ontheweb-item a,
.icon {
  font-size: 15px;
  font-weight: 400;
  color: #2c7a7b;
}

/* Media quereis */
@media screen and (max-width: 768px) {
  .About {
    width: 94%;
  }
  .About-me {
    display: block;
  }

  .About-me-right h2 {
    font-size: 28px;
  }

  .About-me-right p {
  }

  .About-me-left {
    text-align: center;
  }

  .ontheweb-item {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  .ontheweb-item {
    width: 49%;
  }
}

@media screen and (max-width: 500px) {
  .ontheweb-item {
    width: 50%;
  }
}

@media screen and (max-width: 475px) {
  .ontheweb-item {
  }
}

@media screen and (max-width: 375px) {
  .ontheweb-item {
    width: 65%;
  }
}
